<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ubank.main" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />


    <application android:icon="@drawable/icon" android:label="@string/app_name"
      android:theme="@android:style/Theme.NoTitleBar">
        <!-- punan's activity -->
		<activity android:name=".FinanceAss"> <!-- the first activity -->
	  		  
			  <intent-filter> 
				<action android:name="android.intent.action.MAIN"/> 
				<category android:name="android.intent.category.LAUNCHER" /> 
			</intent-filter>
			
		</activity>
		
		
		<activity android:name=".Login">

		</activity>
		<activity android:name=".BankMain">

		</activity>
		<activity android:name=".DepositRates">

		</activity>
		<activity android:name=".LoanRates">

		</activity>
		<activity android:name=".ExchangeCalc">

		</activity>
		<!-- end punan's activity -->

		<!-- wangting's activity -->
		<activity android:name="ubank.account_query.AccountQueryType">
<!--  
			<intent-filter> 
				<action android:name="android.intent.action.MAIN"/> 
				<category android:name="android.intent.category.LAUNCHER" /> 
			</intent-filter>
-->
		</activity>
		<activity android:name="ubank.account_query.AccountQuery">
		</activity>
		<activity android:name="ubank.account_query.AccountQueryInfo">
		</activity>
		<activity android:name="ubank.account_query.AccountInventory">
		</activity>
		<activity android:name="ubank.account_query.AccountInventoryList">
		</activity>
		<activity android:name="ubank.account_query.AccountInventoryDetail">
		</activity>
		<activity android:name="ubank.account_query.AccountCome">
		</activity>
		<activity android:name="ubank.account_query.AccountComeList">
		</activity>
		<activity android:name="ubank.account_query.AccountComeDetail">
		</activity>
		<!-- end wangting's activity -->

		<!-- ZXiaohui's activity -->
		<activity android:name="ubank.account_manager.AccountBind">
<!--  
			<intent-filter> 
				<action android:name="android.intent.action.MAIN"/> 
				<category android:name="android.intent.category.LAUNCHER" /> 
			</intent-filter>
-->
		</activity>
		<activity android:name="ubank.account_manager.AccountInfo">

		</activity>
		<activity android:name="ubank.account_manager.AccountInfoShow"></activity>
		<activity android:name="ubank.account_manager.AccountReportLoss"></activity>
		<activity android:name="ubank.account_manager.AddAccount"></activity>
		<activity android:name="ubank.account_manager.DeleteAccount"></activity>
		<activity android:name="ubank.account_manager.FirstAccount"></activity>
		<activity android:name="ubank.account_manager.ManagerHome">

		</activity>
		<activity android:name="ubank.account_manager.ReservationChangeCard"></activity>
		<activity android:name="ubank.account_manager.SetAccountAlias"></activity>
		<!-- end ZXiaohui's activity -->


		<!-- gsm's activity -->
		<activity android:name="ubank.payment.AllPaymentSer">
 <!--
			<intent-filter> 
				<action android:name="android.intent.action.MAIN"/> 
				<category android:name="android.intent.category.LAUNCHER" /> 
			</intent-filter>
	-->	
		</activity>
		<activity android:name="ubank.payment.WaitCost" />
		<activity android:name="ubank.payment.WaitCostItem" />
		<activity android:name="ubank.payment.Speedy" />
		<activity android:name="ubank.payment.Lately" />
		<activity android:name="ubank.payment.LatelyCost" />
		<activity android:name="ubank.payment.HistoryCost" />
		<activity android:name="ubank.payment.ManageCost" />
		<activity android:name="ubank.payment.SelectAcc"/>
		<activity android:name="ubank.payment.InputPsw"/>
		<activity android:name="ubank.payment.ElseAcc"/>
		<activity android:name="ubank.payment.Cost"/>
		<!-- end gsm's activity -->
		
		
		<!-- solo -->
		<activity android:name="ubank.credit.CreditCardMain">
<!--  
			<intent-filter> 
				<action android:name="android.intent.action.MAIN"/> 
				<category android:name="android.intent.category.LAUNCHER" /> 
			</intent-filter>
-->
		</activity>
		<activity android:name="ubank.credit.CardRepayment"></activity>
		<activity android:name="ubank.credit.CreditCardInfo"></activity>
		<!-- end solo -->

	</application>

</manifest>